header{
    text-align: center;
    color:white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.btn {
    margin-top: 10px;
}

.main-content{
    margin-top: 10px;
}

#dashboard{
    border-style: solid;
}

#sidebar{
    padding-right: 25px;
}

#city{
    float: left;
    padding-top: 8px;
}

#weatherIcon{
    width: 50px;
}

.day{
    height: 150px;
    background-color: gray;
}